@model TechOilFront.Models.LoginModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido @Html.DisplayFor(x => x.Nombre) a TechOil</h1>
    @Html.EditorFor( x => x.Token);
</div>
