@model dynamic

@{
    ViewBag.Title = "Servicio";
    Layout = "_Layout";
}

<h2>Servicio</h2>


<button class="btn btn-primary m-3" onclick="AgregarServicio()">
    Agregar Servicio
</button>

<table id="servicios" class="table table-striped" style="width:100%">
    
</table>

<div id="serviciosAddPartial"></div>

<script src="~/js/functionalities/servicios/servicios.js"></script>