@model dynamic

@{
    ViewBag.Title = "Trabajo";
    Layout = "_Layout";
}

<h2>Trabajo</h2>

<button class="btn btn-primary m-3" onclick="AgregarTrabajo()">
    Agregar Trabajo
</button>

<table id="trabajos" class="table table-striped" style="width:100%">
    
</table>

<div id="trabajosAddPartial"></div>

<script src="~/js/functionalities/trabajos/trabajos.js"></script>